body {
    background: #f9e933;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
  }
  
header,
main,
footer {
    min-width: 855px;
    
}
h1, h2, h3, h4{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 400%;
   
}
h2{
    font-size: 300%;
}
h3{
    font-size: 200%;
}
h4{
    font-size: 150%;
}
header .container{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: baseline;
   
  }
  
  
header .container, main .container, footer .container { max-width: 855px;
    margin: auto;
    }
    main .container, footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
        padding-right: 40px;
    }
header {
    background: white;
  }
  main {
    background: white;
  }
  *{
    margin-bottom: 40px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: brown;
}
a:hover{
    text-decoration: underline;
}